.description {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}


.title {
	text-transform: uppercase;
	color: var(--light-gray);
}

.cardsWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.card {
	width: 250px;
	height: 270px;
	text-align: center;
}

.cardTitle {
	margin: 0;
}

.cardDescription {
	margin: 0;
}