.cardBody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cardText {
	margin: 0;
	padding: 7px 0;
	font-size: 14px;
	text-align: center;
}

.cardText p{
	margin: 0 0 7px 0;
}
